language: python

python:
  - 2.7
  #- 3.2 # Is bugged for coverage
  - 3.3
  - 3.4
  - 3.5
  - nightly

install:
  - pip install -r requirements.txt
  - pip install coveralls

script:
  - make test

after_success:
  - coveralls
