# Development requirements, only
wheel==0.37.1
setuptools==56.0.0
twine==3.7.1
coverage==6.3
nose==1.3.7
pycodestyle==2.8.0
black==22.1.0
numpy==1.22.0

# Numba/llvmlite isn't playing nice, see https://llvmlite.readthedocs.io/en/latest/admin-guide/install.html#using-pip
#numba
