# Development requirements, only
wheel==0.38.1
setuptools==65.5.1
twine==4.0.1
coverage==6.4.1
pytest==7.1.2
pytest-cov==3.0.0
pycodestyle==2.8.0
black==22.6.0
numpy==1.23.0

# Numba/llvmlite doesn't support python v3.9+ yet?? See:
# https://llvmlite.readthedocs.io/en/latest/admin-guide/install.html#using-pip
#numba
